main {
  padding-top: 50px;
}

.chart_container_1 {
  width: 1500px;
  height: 500px;
}

.chart_container_2 {
  width: 600px;
  height: 500px;
  padding-right: 40px;
}

.chart_container_2 h1 {
  margin-left: 160px;
}

.chart_container_3 {
  width: 500px;
  height: 500px;
  padding-left: 40px;
  padding-right: 100px;
}

.chart_container_3 h1 {
  margin-left: 210px;
}

.chart_container_4 {
  width: 500px;
  height: 500px;
}

.chart_container_4 h1 {
  margin-left: 120px;
}

.chart_container_header {
  justify-content: space-between;
  display: flex;
}

.report_container {
  width: 1200px;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #e0e0e0;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 130px;
}

.report_container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.upper_container {
  padding-top: 110px;
  justify-content: space-around;
  align-self: flex-end;
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}

.lower_container {
  padding-top: 50px;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}

.lower_chart_container {
  display: flex;
}

.report_title {
  margin-top: 30px;
  font-size: 40px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.report_body {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 35px;
}

#myChart2 {
  width: 50%;
  height: 100%;
}

#myChart3 {
  width: 50%;
  height: 100%;
}

strong {
  color: #609ae9;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Lucida Sans', sans-serif;
}

header {
  background-color: #e0e0e0;
  display: flex;
  padding-top: 20px;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
  position: fixed;
}

header #header_left {
  font-size: 40px;
  cursor: pointer;
  font-weight: bold;
}

header img {
  width: 60px;
  height: 60px;
  margin-left: 30px;
}

header a:link {
  color: black;
  text-decoration: none;
}
header a:visited {
  color: black;
  text-decoration: none;
}

#header_right {
  display: flex;
  list-style: none;
  margin-left: 637px;
  align-items: center;
}

#header_right li {
  font-size: 20px;
  margin-left: 100px;
  /* border-right: 1px solid black; */
  padding-right: 80px;
  height: 100%;
}

li::after {
  content: '';
  border: 1px solid #b4b4b4;
  margin-left: 20px;
  height: 800px;
}

#header_right li:hover {
  cursor: pointer;
  color: #609ae9;
}

#header_left {
  font-size: 30px;
}
