* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Lucida Sans', sans-serif;
}

body {
  overflow-y: hidden;
}

header {
  background-color: #e0e0e0;
  display: flex;
  padding-top: 20px;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
  position: fixed;
}

header #header_left {
  font-size: 40px;
  cursor: pointer;
  font-weight: bold;
}

header img {
  width: 60px;
  height: 60px;
  margin-left: 30px;
}

header a:link {
  color: black;
  text-decoration: none;
}
header a:visited {
  color: black;
  text-decoration: none;
}

#header_right {
  display: flex;
  list-style: none;
  margin-left: 637px;
  align-items: center;
}

#header_right li {
  font-size: 20px;
  margin-left: 100px;
  /* border-right: 1px solid black; */
  padding-right: 80px;
  height: 100%;
}

li::after {
  content: '';
  border: 1px solid #b4b4b4;
  margin-left: 20px;
  height: 800px;
}

#header_right li:hover {
  cursor: pointer;
  color: #609ae9;
}

#header_left {
  font-size: 30px;
}

.headerplus {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

.video {
  display: flex;
  padding-left: 150px;
  padding-top: 170px;
}

.col-20 {
  padding-left: 130px;
}

.col-20 h2 {
  padding-bottom: 10px;
}
